body {
    background-color: #272F32;
    color: #DAEAEF;
    height: 100vh;
}

#screen, #myCalc {
    border: 1px solid;
}

#digits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

#functions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.calc-button {
    border: 1px solid;
    user-select: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 2rem;
    transition: .7s;
}

#digits .calc-button:hover {
    background-color: #394649;
}

.f1, a {
    color: #FF3D2E;
    text-decoration: none;
}

/* ellipsize if the line would break over one */
#entering, #calculating {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}